header{
    height: 100vh;
    width: 100%;
    background: url("./image/Brick.85c476fa3c2aa4dbe5fd.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    position: relative;
    background-position-y: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-position: center;
}




header{
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

header h1{
    font-size: 45px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}